---
import ImageWrapper from '@/components/misc/ImageWrapper.astro'
import MainGridLayout from '@layouts/MainGridLayout.astro'

interface Project {
  title: string
  description: string
  image: string
  url: string
  tags: string[]
}

const projects: Project[] = [
  {
    title: '배틀이',
    description: '웹 대시보드로 편리하게 디스코드 서버를 관리하세요.',
    image: 'assets/images/battlebot.png',
    url: 'https://battlebot.kr',
    tags: [
      'Next.js',
      'React',
      'TypeScript',
      'Express.js',
      'MongoDB',
      'Tailwind CSS',
      'Docker',
      'GitLab CI/CD',
      'Sentry',
    ],
  },
  {
    title: 'Temp_Send',
    description: '이 프로젝트는 파일을 손쉽게 이동시킬 수 있는 서비스입니다.',
    image: 'assets/images/temp_send.png',
    url: 'https://tempsend.kimjinwoo.me/',
    tags: ['Django', 'Redis', 'Celery'],
  },
  {
    title: 'AutoMSG',
    description:
      '디스코드에서 자동으로 매시지를 전송하고, 관리할 수 있는 서비스입니다.',
    image: 'assets/images/automsg.png',
    url: 'https://automsg.xyz',
    tags: [
      'Django',
      'Django REST Framework',
      'Redis',
      'Celery',
      'PostgreSQL',
      'Next.js',
      'Tailwind CSS',
      'React',
      'TypeScript',
      'Docker',
    ],
  },
  {
    title: 'Django_RestFramwork_Authentication',
    description: 'Django RestFramework를 사용한 인증 서비스입니다.',
    image: 'assets/images/automsg.png',
    url: '',
    tags: [
      'Django',
      'Django REST Framework',
      'PostgreSQL',
      'Redis',
      'Celery',
      'Docker',
    ],
  },
]
---

<MainGridLayout title="프로젝트">
  <div class="max-w-7xl">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {projects.map((project) => (
        <article class="bg-[var(--card-bg)] rounded-xl overflow-hidden hover:shadow-xl transition-all duration-300 group h-full flex flex-col min-h-[500px]">
          <div class="aspect-[16/9] overflow-hidden relative">
            <ImageWrapper
              src={project.image}
              alt={project.title}
              class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-500"
            />
            <div class="absolute inset-0 bg-black/20 opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
          </div>
          
          <div class="p-6 flex-1 flex flex-col">
            <h2 class="text-2xl font-semibold mb-2">
              <a href={project.url} target="_blank" rel="noopener noreferrer" class="text-[var(--primary)] hover:text-blue-600 transition-colors duration-300">
                {project.title}
              </a>
            </h2>
            
            <p class="text-black/70 dark:text-white/50 mb-4 flex-1">
              {project.description}
            </p>
            
            <div class="flex flex-wrap gap-2">
              {project.tags.map((tag) => (
                <span class="btn-regular px-3 py-1  text-gray-700 rounded-full text-sm transition-transform duration-300 hover:scale-105">
                  {tag}
                </span>
              ))}
            </div>
          </div>
        </article>
      ))}
    </div>
  </div>
</MainGridLayout>